.square {
    height: 300px;
    width: 300px;
    border: solid;
    margin: 20px;
    text-align: center;
    color: white;
    border-radius: 10px;
}

    .square:hover {
        border-color: aqua;
    }
